name: Publish Package

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: npm install -g npm@latest
      - run: npm publish
