name: Update data

on:
  workflow_dispatch:
  schedule:
    # “At 00:00 on Sunday.” https://crontab.guru/#0_0_*_*_0
    - cron: '0 0 * * 0'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update:
    if: github.event_name != 'schedule' || github.repository == 'ikatyang-collab/linguist-languages'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: pnpm build --update
      - uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'feat: update data'
          branch: automated-update
          branch-suffix: timestamp
          title: 'feat: update data'
